<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <!-- <link rel="stylesheet" href="/assets/fontawesome.min.css" /> -->
    <!-- <link rel="stylesheet" href="/icofont/icofont.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css"
    />
    <script
      src="https://kit.fontawesome.com/f9b5a5b988.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <!-- HEADER -->

    <header class="header">
      <div class="container flex">
        <div class="header__col-1">
          <h1 class="header__title">Surgery Kind</h1>
          <p class="header__sub-title">Your Health is our priority</p>
        </div>
        <div class="header__col-2">
          <ul class="header__list flex" data-visible="false">
            <li class="active"><a href="../../index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Hospitals</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Specialties</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="header__col-3">
          <a href="google.com" class="btn header__btn">Enquire Now</a>
        </div>
        <button class="header--menu-icon"></button>
      </div>
    </header>

    <!-- TOP DOCTORS -->

    <section class="doctors section-spacing section-padding">
      <div class="container">
        <h2 class="doctors__title">Top Doctors</h2>
        <p class="doctors__sub-title">
          For more information, please visit the profile of each doctor
        </p>

        <div class="doctors__row">
          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/dr-vivek-vij.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr. Vivek Vij</a></h5>
              <span
                >Head of Liver Transplant, Liver, Pancreatic & Biliary
                Surgery</span
              >
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Salil-Jain.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr Salil Jain</a></h5>
              <span>Director of Nephrology & Kidney Transplant</span>
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Yugal-Mishra.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr. Yugal Mishra</a></h5>
              <span
                >Head Of Cardiac Sciences And Chief Cardio Vascular
                Surgeon</span
              >
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Sandeep-Vaishya.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5>
                <a href="#">Dr. Sandeep Vaishya</a>
              </h5>
              <span
                >HOD & Executive Director of the Department of
                Neurosurgery</span
              >
            </div>
          </div>
        </div>

        <div class="doctors__row">
          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/dr-vivek-vij.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr. Vivek Vij</a></h5>
              <span
                >Head of Liver Transplant, Liver, Pancreatic & Biliary
                Surgery</span
              >
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Salil-Jain.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr Salil Jain</a></h5>
              <span>Director of Nephrology & Kidney Transplant</span>
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Yugal-Mishra.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr. Yugal Mishra</a></h5>
              <span
                >Head Of Cardiac Sciences And Chief Cardio Vascular
                Surgeon</span
              >
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Sandeep-Vaishya.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5>
                <a href="#">Dr. Sandeep Vaishya</a>
              </h5>
              <span
                >HOD & Executive Director of the Department of
                Neurosurgery</span
              >
            </div>
          </div>
        </div>

        <div class="doctors__row">
          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/dr-vivek-vij.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr. Vivek Vij</a></h5>
              <span
                >Head of Liver Transplant, Liver, Pancreatic & Biliary
                Surgery</span
              >
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Salil-Jain.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr Salil Jain</a></h5>
              <span>Director of Nephrology & Kidney Transplant</span>
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Yugal-Mishra.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5><a href="#">Dr. Yugal Mishra</a></h5>
              <span
                >Head Of Cardiac Sciences And Chief Cardio Vascular
                Surgeon</span
              >
            </div>
          </div>

          <div class="doctors__row__single-doctor">
            <div class="doctor-head">
              <img
                src="https://hindmeditour.com/en/assets/img/doctors/Dr-Sandeep-Vaishya.jpg"
                alt="#"
              />
            </div>
            <div class="doctor-content">
              <h5>
                <a href="#">Dr. Sandeep Vaishya</a>
              </h5>
              <span
                >HOD & Executive Director of the Department of
                Neurosurgery</span
              >
            </div>
          </div>
        </div>
        <!-- <div>
          <a href="" class="btn doctors__btn">View All Doctors</a>
        </div> -->
      </div>
    </section>

    <!-- CONTACT US -->

    <section class="contact section-padding">
      <div class="container contact__container">
        <form class="contact__form">
          <h2 class="contact__title">Contact US</h2>
          <p class="contact__sub-title">
            <i>Thank you for taking the time to check this survey form</i>
          </p>
          <label class="contact__text-label" for="name">Name</label>
          <input
            class="contact__text-input"
            type="text"
            placeholder="Enter your name"
          />

          <label class="contact__text-label" for="email">Email</label>
          <input
            class="contact__text-input"
            type="email"
            placeholder="Enter your email"
          />

          <label class="contact__text-label" for="number">Mobile Number</label>
          <input
            class="contact__text-input"
            type="number"
            placeholder="Enter your digits"
            min="1000000000"
            max="9999999999"
          />

          <label class="contact__text-label" for="dropdown">Dropdown:</label>
          <select class="contact__text-input" placeholder="bla bla bla">
            <option>SELECT AN OPTION</option>
            <option value="1">OPTION 1</option>
            <option value="1">OPTION 2</option>
            <option value="1">OPTION 3</option>
            <option value="1">OPTION 4</option>
          </select>

          <p class="contact__option-title">
            Your feedback is valueable to us 😄
          </p>
          <textarea
            class="contact__text-input"
            placeholder="Enter you point of view here..."
          ></textarea>

          <button class="btn contact__submit">Submit</button>
        </form>
      </div>
    </section>

    <!-- FOOTER -->

    <footer class="footer">
      <div class="container">
        <p class="footer__title">Surgery Kind</p>
        <p class="footer__sub-title">Copyright 2019</p>
      </div>
    </footer>
  </body>
</html>
